.fondo-titulo-violeta {
    @extend .fondo-titulo;
    background-color: #504ea3;
    color: white;
}

.fondo-titulo-beige {
    @extend .fondo-titulo;
    background-color: beige;
    color: black;
}