@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap');
@import "../utilities/maps";

* {
    font-family: 'Rethink Sans', sans-serif;
    font-size: medium;
}

body {
    background-color: white;
}

section {
    background-color: white;
    color: black;
}

h1 {
    background-color:  map-get($colores , secundario);
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    border-radius: 5px;
}

h2 {
    color: map-get($colores , primario);
    font-size: 25px;
}